<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>57207584933-5bhp5sqnvu0c5v9vktn6028hqil9dh0n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.57207584933-5bhp5sqnvu0c5v9vktn6028hqil9dh0n</string>
	<key>API_KEY</key>
	<string>AIzaSyDpIWxhiEREthIWH22GITSWA4pfNs43KaY</string>
	<key>GCM_SENDER_ID</key>
	<string>57207584933</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterProject</string>
	<key>PROJECT_ID</key>
	<string>flutterfirebase-b66a6</string>
	<key>STORAGE_BUCKET</key>
	<string>flutterfirebase-b66a6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:57207584933:ios:4cd6f0d22881292cc1b54c</string>
</dict>
</plist>